<%= turbo_frame_tag dom_id(project, :histories) do %>
  <div class="w-full">
    <div id="history_list">
      <%= render partial: "history", collection: histories, as: :history %>
    </div>
  </div>

  <%= turbo_stream_from "histories" %>
<% end %>
