<div class="w-full gap-0">
  <span class="font-bold text-lg">
    <%= link_to 'Back', projects_path, class: "inline-flex items-center border border-indigo-300 px-3 py-1.5 rounded-md text-blue-400 hover:bg-indigo-50" %>
  </span>

  <div class="w-full grid grid-rows-2 gap-2">
    <div class="grid grid-rows-2 gap-4 border-2 border-blue-300 rounded p-4 h-fit">
      <%= turbo_frame_tag(
        dom_id(project, :update_project), src: edit_project_path(project_id: project.id)
      ) %>
      <%= turbo_frame_tag(
        dom_id(project, :new_comment), src: new_project_comments_path(project_id: project.id)
      ) %>
    </div>

    <div class="border-2 border-blue-300 rounded p-4">
      <%= turbo_frame_tag dom_id(project, :histories), src: project_histories_path(project_id: project.id) %>
    </div>
  </div>
</div>
